body{
  margin: 0;
  min-height: 100vh;
  font-family: Arial;
  background-image: url("https://i.pinimg.com/736x/35/d5/3e/35d53ea17647da2edb5da7b5e07be29d.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center
}
.contact{
   margin-top: 100px;
  padding: 50px;
  text-align: center;
}
.contact h1{
  font-size: 60px;
  color: goldenrod;
  margin-bottom: 40px;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}
.info {
  flex: 1;
}
.box{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  color: goldenrod;
  gap: 20px;
}
.box i{
  font-size: 40px;
  color: goldenrod;
  margin-right: 20px;
}
.form{
  flex: 1;
}
.form h2{
  color: goldenrod;
  margin-bottom: 20px;
}
form{
  display: flex;
  flex-direction: column;
}
form input,form textarea{
  margin-bottom: 15px;
  padding: 12px;
  border: 1px solid black;
  background: black;
  color: gold;
  border-radius: 10px;
  transition: 0.3s;
}
form textarea,form input{
  margin-bottom: 15px;
  padding: 12px;
  border: 1px solid gold;
  color: white;
  border-radius: 10px;
  transition: 0.3s;
}
form input:focus,form textarea:focus{
  border-color: goldenrod;
  outline: none;
}
button{
  background: goldenrod;
  border: none;
  border-radius: 7px;
  padding: 12px;
  cursor: pointer;
  color: black;
  font-weight: bold;
  transition: 0.3s;
}
button:hover{
  background: goldenrod;
  transform: scale(1.05);
}
.social{
  margin-top: 30px;
  color: goldenrod;
  display: flex;
  justify-content: center;
  gap: 15px;
}
.social i{
  font-size: 22px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid goldenrod;
  border-redius: 50%;
  color: gold;
  transition: 0.3s;
}
.social i:hover{
  background: gold;
  color: black;
  transform: scale(1.1);
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style:none;
    text-decoration:none;
    font-family: 'Georgia', serif;
  }
  
  /* Navbar */
  .navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(10px);
    position: fixed;
    width:100%;
    top:0;
    z-index:1000;
  }
  
  /* Logo */
  .logo{
    color:gold;
    font-size:30px;
    letter-spacing:3px;
    font-weight:bold;
    transition:0.3s;
  }
  .logo:hover{
    color:white; 
  }
  
  /* Links */
  .nav-links{
    display:flex;
    gap:30px;
    
  }
  
  .nav-links a{
    color:white;
    font-size:18px;
    position:relative;
    transition:0.3s;
  }
  
  /* Underline animation */
  .nav-links a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-5px;
    width:0%;
    height:2px;
    background:gold;
    transition:0.3s;
  }
  
  .nav-links a:hover{
    color:gold;

  }
  
  .nav-links a:hover::after{
    width:100%;
  }
  
  /* Buttons */
  .auth-buttons{
    display:flex;
  }
  
  .auth-buttons button{
    margin-left:10px;
    padding:8px 18px;
    border-radius:20px;
    cursor:pointer;
    transition:0.3s;
    font-size:14px;
  }
  
  
  
  /* Gold button */
  .btn-gold{
    background:gold;
    border:none;
    color:black;
  }
  
  .btn-gold:hover{
    background:white;
    transform: scale(1.05);
    box-shadow: 0 0 10px gold;
  }
  .nav-links a i{
    margin-right:8px;
  }
  
  .logo i{
    margin-right:8px;
  }
  
  button i{
    margin-right:6px;
  }